<!-- your html code here -->
<div class="container py-5">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-8">
            <h2 class="card-title text-body font-weight-bolder d-inline">This First Heading</h2>
            <h2 class="text-secondary d-inline">Will Catch Your Eye</h2>
            <p class="text-card ">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat.
             </p>
        </div>
        <div class="col-12 col-md-4">
            <img src="./assets/img/1.jpg" class="img-fluid rounded-circle mt-5" alt="foto">
        </div>
    </div>
</div>
